{% extends "polls/layout.html" %}

{% block menuQuest %}
	class="active"
{% endblock menuQuest %}

{% block page %}
<div class="container">
	<div class="row">
		<br><br>
		<div class="col-lg-12">			
			<h4 class="fa fa-check-circle-o">
				Questionnaire
			</h4>
			{% if questionnaires %}
				<table class="table table-bordered">
					<tr>
						<th>
							Nom questionnaire
						</th>
						<th>
							Date publication
						</th>
						<th style="width: 200px;">
							Actions
						</th>
					</tr>
				{% for questionnaire in questionnaires %}
					<tr>
						<td>
							{{ questionnaire.label }}
						</td>
						<td>
							{{ questionnaire.pub_date }}
						</td>
						<td>
							<a href="{% url 'polls:detailQuestionnaire' questionnaire.id %}" class="btn btn-primary">Répondre</a>
							<a href="{% url 'polls:resultsQuestionnaire' questionnaire.id %}" class="btn btn-default">Résultat</a>
						</td>						
					</tr>
				{% endfor %}
				</table>
			{% else %}
				<p>Pas de questionnaires disponibles.</p>
			{% endif %}
		</div>
	</div>
	<br>
	<br>
</div>
{% endblock page %}
