{% extends "polls/layout.html" %}

{% block menuSondage %}
	class="active"
{% endblock menuSondage %}

{% block page %}
<div class="container">
	<div class="row">
	
		<div class="col-lg-12">
			<h1> {{ question.question_text }} </h1>
		</div>
		
	</div>
	
	<div class="row">
	
		<div class="col-lg-6">
			<h2>Récapitulatif des votes par choix</h2>

			<div>
				{% if question.choice_set.all|length > 1 %}
				<ul>
					{% for choice in question.choice_set.all %}
						<li>
							<span class="choice">
								{{ choice.choice_text }} 
							</span>
							--
							<span class="resultat">
								{{ choice.votes }} 
							</span>
							vote{{ choice.votes|pluralize }}
						</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
		</div>

		<div class="col-lg-6">
			<h2>Détail des derniers votes</h2>

			<div>
				{% if question.reponse_set.all|length > 1 %}
				<ul>
				{% for reponse in question.reponse_set.all|dictsortreversed:'id'|slice:":5" %}
					<li>
						{{ reponse.nom|upper }} -- {{ reponse.choice.choice_text }}
					</li>
					{% if  forloop.counter == 5 %}
						<li> ... </li>
					{% endif %}
				{% endfor %}
				</ul>
				{% endif %}
			</div>
		</div>		
		
		<div class="col-lg-12" id="mesactions">
			<div class="row">
				<div class="col-lg-6">
					<a href="{% url 'polls:detail' question.id %}" class="btn btn-primary">
						Voter à nouveau
					</a>
				</div>
				<div class="col-lg-6">
					<a href="#" id="resultatPDF" class="btn btn-default">
						Liste des résultats en PDF
					</a>				
				</div>
			</div>
		</div>

		<div class="col-lg-12">
			<h2> Fréquence des votes </h2>

			<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
		</div>

	</div>
</div>
{% endblock page %}


{% block javascript %}
<!-- highcharts (generation de graphique) -->
<script src="https://code.highcharts.com" type="text/javascript"></script>
<script src="https://code.highcharts.com/highcharts.js" type="text/javascript"></script>
<script src="https://code.highcharts.com/modules/data.js" type="text/javascript"></script>
<script src="https://code.highcharts.com/modules/exporting.js" type="text/javascript"></script>

<!-- pdfmake (generation de PDF) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.26/pdfmake.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.26/vfs_fonts.js" type="text/javascript"></script>

<script type="text/javascript">

	// Après le chargement du DOM
	$(function(){
	
		/***************************/
		/* Génération du graphique */
		/***************************/
	
		var labels = ['null'];
		$('span.choice').each(function(){
			labels.push($(this).text());
		});
		var resultats = [];
		var question = $('h1').text();
		resultats.push('choix');
		var nbRes= 0;
		$('span.resultat').each(function(){
			nbRes += parseInt($(this).text());
		});
		$('span.resultat').each(function(){
			resultats.push( (parseInt($(this).text())*100)/nbRes );
		});
		
		Highcharts.chart('container', {
			data: {
				rows: [
				    labels,
				    resultats
				]
			},
			chart: {
				type: 'column'
			},
			title: {
				text: 'Résultat du sondage : '+question
			},
			yAxis: {
				title: {
				    text: 'frequence'
				},
				min: 0,
				max: 100
			},
			tooltip: {
				formatter: function () {
				    return "<b>"+this.series.name+"<\/b> <br/>" +
				        this.point.y + '% ' + this.point.name.toLowerCase();
				}
			}
		});
	
		/*********************/
		/* Génération du PDF */
		/*********************/

		var structureReponse = [];
		{% for choice in question.choice_set.all %}
			structureReponse["{{ choice.choice_text}}"] = [];
		{% endfor %}
		{% for reponse in question.reponse_set.all|dictsort:'nom' %}
			structureReponse["{{ reponse.choice.choice_text }}"].push("{{ reponse.nom|upper }}");
		{% endfor %}

		var entete = [];
		var body = [];
		for (var index in structureReponse) {
			entete.push({ text: index, style: 'reponse'});
			body.push({ ul: structureReponse[index]});			
		}

		var docDefinition = {
			footer: function(currentPage, pageCount) { 
				return { text: "Page "+currentPage.toString()+' / ' + pageCount , alignment: 'right', margin: [0,0,20,25] };
			},
			content: [
				{ 
					text: '{{ question.question_text }}', 
					style: 'header', 
					alignment: 'center' 
				},
				{
					text: "\n"
				},
				{
					text: 'Listes des résultats triés par ordre alphabétique',
					style: 'titre'
				},
				{
					text: "\n"
				},
				{
					columns: entete
				},
				{
					columns: body
				},
			],
			styles: {
				header: {
					fontSize: 30,
					bold: true,
					alignment: 'justify'
				},
				reponse: {
					fontSize: 16,
					bold: true,
					margin: [5,5,5,5]
				},
				titre: {
					fontSize: 22,
					alignment: 'left'
				}
			}
		};

		$("#resultatPDF").click(function(){
			pdfMake.createPdf(docDefinition).download('sondage.pdf');
		});
				
	});

</script>
{% endblock javascript %}
