{% extends "polls/layout.html" %}

{% block page %}
<div class="container">
	<div class="row">
	
		<div class="col-lg-12">
			<h1> {{ question.question_text }} </h1>
		</div>
		
	</div>
	
	<div class="row">

		<div class="col-lg-6">
			<h2>Détail des derniers votes</h2>

			<div>
				{% if question.reponse_set.all|length > 1 %}
				<ul>
				{% for reponse in question.reponse_set.all|dictsort:'nom' %}
					<li>
						{{ reponse.nom|upper }} -- {{ reponse.choice.choice_text }}
					</li>
				{% endfor %}
				</ul>
				{% endif %}
			</div>
		</div>

	</div>
</div>
{% endblock page %}